// Primera paleta de colores
 	$purple-rain: #330066;
	$funny-pink: #e91e63;

// Segunda paleta de colores 
	$white: #fff;
	$platinum: #E6E7E7;
	$gray: #BABABA;

//Tercera paleta	
	$soft-pink: #F5EFFB;
	$between-lines: #BE81F7;

//Cuarta paleta
	$honey: #f9c546;

//Tipografía
	$montserrat: 'Montserrat', sans-serif;

//Peso de fuente
	$light: 300;
	$regular: 400;
	$bold: 700;
	$extra-bold: 800;

//Tamaños de fuente//
	$xxxxxx-large: 120px;
	$xxxxx-large: 80px;
	$xxxx-large: 45px;
	$xxx-large: 40px;
	$xx-large: 35px;
	$x-large: 30px;
	$large: 20px;
	$medium:16px;
	$small: 14px;
	$x-small: 12px;
	$xx-small: 10px;



