.services_page {
	display: grid;
	grid-template-rows: 2fr;
	grid-template-columns: 30% 40% 30%;	
	background-color: $funny-pink;
	font-family: $montserrat;

	&__readme {
		display: grid;
		grid-template-rows: 1fr;
		justify-content: center;
		margin: 2em;
		width: 100%;
		height: auto;
		text-align: center;
		font-family: $montserrat;

		&__title {
			display: grid;
			grid-template-rows: 2fr;
			margin: auto;
			color: $white;
			font-family: $montserrat;
			justify-content: center;
			padding: 7em;


			&__item {
				display: flex;
				flex-direction: row;
				align-items: baseline;
				align-content: center;
				padding: 5px;
				font-weight: $bold;
				font-size: $xxxx-large;
				color: $funny-pink;
				padding: 10px;	
				text-align: center;

				&-higher {
					font-weight: $bold;
				}

				&-medium {
					font-weight: $extra-bold;
					font-size: $xxxxx-large;
					color: $white;	
				}
			}
		}
	}
}			